<table class="table table-dark">
    <!-- Table header -->
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <!-- Table body -->
    <tbody>
        <% products.forEach(product => { %> <!-- Looping through the products array -->
            <tr>
                <th><%=product.id %></th> <!-- Displaying the product ID -->
                <th><%=product.name %></th> <!-- Displaying the product name -->
                <th><%=product.desc %></th> <!-- Displaying the product description -->
                <th><%=product.price %></th> <!-- Displaying the product price -->
                <td>
                    <img src="<%=product.imageUrl %>" /> <!-- Displaying the product image -->
                </td>
                <td>
                        <a type="button" class="btn btn-primary" aria-current="page" href="/update/<%= product.id %>">Update Product</a>  <!-- Active link to the update products page -->
                </td>
            </tr>
        <% }) %> <!-- Ending the loop -->
    </tbody>
</table>
