<h1 class="mt-5 mb-4">Update Product</h1>

<%if(error){ %>
<div class="alert alert-danger" role="alert">
    <%= error %>
</div>
<%}%>

<form action="/update-product" method="post" enctype="multipart/form-data">
    <input type="hidden" class="form-control" id="id" name="id" value="<%= product.id %>">
    
    <div class="mb-3">
        <label for="name" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="name" name="name" required value="<%= product.name %>">
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Product Description</label>
        <textarea class="form-control" id="desc" name="desc" rows="3" required
        required><%= product.desc %>
    </textarea>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price" required
        value="<%= product.price %>"
        step="0.01">
    </div>
    <div class="mb-3">
        <label for="imageUrl" class="form-label">Image URL</label>
        <!-- <input type="text" class="form-control" id="imageUrl" name="imageURL" required
        value="<%= product.imageUrl %>"> -->
        <input type="file" id="imageURL" name="imageURL" accept="images/*"><br><br>
    </div>
    <button type="submit" class="btn btn-primary">Update Product</button>
</form>